

.home {
    position: relative;
    left: 20px;
    top: 0px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: left;
    
    color: #000000;
}   

.div_imagen_principal {
    display: block;
    margin: 0px auto;
    top: -1700px;
    height: 814px;
    width: auto;
    position: relative;
}

.imagen_principal {
    display: block;
    margin: 0px auto;
    width: 80%;
    height: 100%;
    position: relative; 
    top: 150px;
}

.titulo {
    position: absolute;
    width: 100%;
    top: 80px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 80px;
    line-height: 132px;
    /* identical to box height */
    
    text-align: center;
    
    color: white;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtitulo {
    position: absolute;
    width: 100%;
    top: 300px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 200;
    font-size: 50px;
    line-height: 60px;
    text-align: center;

    color: white;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.primer_rectangulo {
    position: relative;
    width: 560px;
    height: 1700px;
    left: 58%;
    top: 0px;

    background: #FFA729;
}

.descripcion {
    position: absolute;
    width: 100%;
    top: 1200px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    text-align: center;

    color: #000000;

}

.div_persona {
    position: relative;
    width: 690px;
    height: 610px;
    top: -1500px;
    left: 5%;
}

.cargo {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    text-align: left;

    color: #000000;
}

.nombre {
    position: absolute;
    width: 100%;
    height: 24px;
    left: 349px;
    top: 50px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.linea {
    position: absolute;
    width: 576px;
    height: 0px;
    left: 101.99px;
    top: 115px;

    border: 5px solid #000000;
}

.foto_persona {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 290px;
    top: 160px;
}

.quote {
    position: absolute;
    width: 100%;
    top: 1100px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    
    color: #000000;
}

.quote2{
    position: absolute;
    width: 505px;
    height: 247px;
    top: 400px;
    left: 15%;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    
    text-align: justify;
    

    color: #000000;
}

/* Segunda parte */

.primera_parte{
    height: 1706px;
    width: 100%;
}

.segunda_parte{
    height: 742px;
    width: 100%;
    top: -3000px;
}

.segundo_rectangulo{
    position: relative;
    width: 200px;
    height: 750px;
    left: 73.5%;
    top: -1293px;

    background: #FFA729;
}

.titulo_segunda_parte{
    position: relative;
    left: 1%;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 65px;
    line-height: 79px;
    text-align: justify;
    width: 19%;
    color: #000000;
}

.un_presupuesto{
    position: relative;
    width: 40%;
    height: 40%;
    left: 571px;
    top: -200px;
}

.texto_segunda_parte{
    position: relative;
    width: 60%;
    height: 611px;
    left: 25px;
    top: -100px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 600px;
    font-size: 27px;
    line-height: 38px;
    text-align: justify;

    color: #000000;
}

.linea_segunda_parte{
    position: relative;
    top: -570px;
    left: 1%;
    width: 60%;
}

@media (max-width: 1401px) {
    .titulo_segunda_parte{
        position: relative;
        left: 1%;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 300;
        font-size: 38px;
        line-height: 79px;
        text-align: justify;
        width: 19%;
        color: #000000;
    }
    .un_presupuesto{
        position: relative;
        width: 50%;
        height: 40%;
        left: 23.4%;
        top: -169px;
    }
    
    .texto_segunda_parte{
        position: relative;
        width: 60%;
        height: 611px;
        left: 25px;
        top: -100px;
    
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 600px;
        font-size: 27px;
        line-height: 38px;
        text-align: justify;
    
        color: #000000;
    }
    
    .linea_segunda_parte{
        position: relative;
        top: -570px;
        left: 1%;
        width: 60%;
    }
    .segundo_rectangulo{
        position: relative;
        width: 346px;
        height: 780px;
        left: 73.5%;
        top: -1293px;
    
        background: #FFA729;
    }
    .tercera_parte{
        position: relative;
        background-color: #FFA729;
        width: 98.4%;
        top: -300px;
    }

}

/* Tercera Parte */

.tercera_parte{
    position: relative;
    background-color: #FFA729;
    width: 98.4%;
    height: 900px;
    top: -90px;
}

.titulo_tercera_parte{
    position: relative;
    left: 0%;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-size: 65px;
    line-height: 79px;
    text-align: center;
    top: 20px;
}
.costos{
    position: relative;
    left: 2%;
    width: 30%;
}
.texto_tercera_parte{
    position: absolute;
    left: 55%;
    top: 130px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
}

.flecha{
    position: relative;
    top: -50px;
    transform: rotate(70deg);
    left: 2%;
    width: 40%;
    height: 40%;
}

@media (max-width: 1401px) {
    .flecha{
        top: -100px;
        transform: rotate(90deg);
        left: 7%;
    }
    .costos{
        position: relative;
        left: 2%;
        width: 40%;
    }
}

.linea_6 {
    position: absolute;
    width: 1100px;
    height: 0px;
    top: 30px;
    
    border: 7px solid #000000;
}

.div_bottom {
    top: 200px;
    width: 100%;
    height: 900px;
    left: 0px;
    position: relative;
    display: flex;
    justify-content: center;
}

.pagina_actual {
    position: absolute;
    width: 100%;
    height: 61px;
    top: 50px;
    text-decoration: underline;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
}

.ladrillos_de_micelio {
    position: absolute;
    width: 100%;
    height: 139px;
    left: 10%;
    top: 150px;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: left;
    
    color: #000000;
}

.estudio_de_costos {
    position: absolute;
    width: 100%;
    height: 139px;
    right: 10%;
    top: 150px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: right;

    color: #000000;
}

.linea_7 {
    position: absolute;
    width: 400px;
    left: 0%;
    top: 400px;
    
    border: 7px solid #000000;
}

.linea_8 {
    position: absolute;
    width: 400px;
    right: 0%;
    top: 400px;
    
    border: 7px solid #000000;
}

.titulo_abajo {
    position: absolute;
    width: 100%;
    height: 61px;
    top: 320px;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;

    text-align: center;
    
    color: #000000;   
}
